@page {
  size: 15.24cm 22.86cm;
  margin: 27mm;

  @footnotes {
    border-top: thin solid black;
    padding-top: 0.3em;
    margin-top: 0.6em;
    margin-left: 7%;
  }
}

div {max-width:400px !important;}
/* define default page and names pages: cover, blank, frontmatter */

@page :left {
  @top-center {
    font: 8pt "Minion Pro", serif;
    content: string(title,first); 
    vertical-align: bottom;
    padding-bottom: 2em;
    text-transform: uppercase
  }

  @bottom-center{
    font: 8pt "Minion Pro", serif;
    text-align: center;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
  }
}

@page :right {
  @top-center{
    font: 8pt "Minion Pro", serif;    
    content: string(header, first); 
    vertical-align: bottom;
    padding-bottom: 2em; 
    text-transform: uppercase;
  }

  @bottom-center{
    font: 8pt "Minion Pro", serif;
    content: counter(page);
    text-align: center;
    vertical-align: top;
    padding-top: 2em;
  }
}

@page chapter_title {
  @bottom-center {
    content: none;
  }
  @top-center {
    content: none;
  }
}

@page cover { margin: 0; }
@page backcover { margin: 0; }  

@page frontmatter {
  @top-center{
    content: none;
  }

  @bottom-center {
    content: none;
  }
}

@page blank :left {
  @top-center{ content: none;}
  @bottom-center{ content: none;}
}

@page blank :right {
  @top-center{ content: none;}
  @bottom-center{ content: none;}
} 


